html {
    font-family: "Sakkal Majalla", "Simplified Arabic", "Traditional Arabic", "Arabic Typesetting", "Urdu Typesetting", "Droid Naskh", "Droid Kufi", "Roboto", "Tahoma", "Times New Roman", "Arial", serif;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    color: whitesmoke;
}

.logo {
    float: right;
    width: 25%;
}

.title{
    position: absolute;
    left: 30%;
    width: 50%;
    padding: 10px;
}


.opt1 {
    content: url("../images/million.png");
    position: absolute;
    top: 35%;
    left: 50%;
}


.opt2 {
    content: url("../images/million.png");
    position: absolute;
    top: 35%;
    left: 20%;
}

.opt3 {
    content: url("../images/million\ monster.png");
    position: absolute;
    top: 60%;
    left: 35%;
}

.opt1-t , .opt2-t , .week1res , .week2res , .opt3-t , .week3res{
    position: absolute;
    content: '';
    height: 1px;
    padding: 1px;
    pointer-events: none;
}

.opt1-t{
    top: 33%;
    left: 53%;
}

.opt2-t{
    top: 33%;
    left: 23%;
}

.opt3-t{
    top: 58%;
    left: 38%;
}

.week1res{
    top: 43%;
    left: 53%;
}

.week2res{
    top: 43%;
    left: 23%;
}

.week3res{
    top: 68%;
    left: 37%;
}




.opt1:hover , .opt2:hover{
    cursor: pointer;
    content: url("../images/million\ -\ hover.png");
}

.opt3:hover{
    cursor: pointer;
    content: url("../images/million\ monster\ hover.png");
}

@media only screen and (max-device-width: 480px) {
    .logo{
        float: left;
    }
    .opt1 , .opt2 , .opt3{
        width: 40vh;
        left: 10%;
    }

    h1{
        font-size: 100%;
    }
    .opt1{
        top: 35%;
    }

    .opt1-t{
        top: 36%;
        left: 27%;
        font-size: 100%;
    }
    
    .opt2{
        top: 55%;
    
    }

    .opt2-t{
        top: 56%;
        left: 27%;
        font-size: 100%;
    }

    .opt3{
        top:75%;
    }

    .opt3-t{
        top: 76%;
        left: 27%;
        font-size: 100%;
    }

    .week1res{
        top: 28%;
        left: 40%;
        font-size: 100%;
    }
    
    .week2res{
        top: 48%;
        left: 40%;
        font-size: 100%;
    }

    .week3res{
        top: 68%;
        left: 40%;
        font-size: 100%;
    }

}