body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    color: whitesmoke;
}

h1{
    font-size: 170%;
}

.logo {
    float: right;
    width: 25%;
}

.title{
    position: absolute;
    left: 30%;
    width: 50%;
    padding: 10px;
}

.flash{
    content: url("../images/million.png");
    position: absolute;
    top: 85%;
    left: 35%;
}

.flash-t{
    position: absolute;
    top: 84%;
    left: 38%;
    pointer-events: none;
}

.opt1 {
    content: url("../images/million.png");
    position: absolute;
    top: 35%;
    left: 50%;
}

.opt2 {
    content: url("../images/million.png");
    position: absolute;
    top: 35%;
    left: 20%;
}

.opt3 {
    content: url("../images/million\ monster.png");
    position: absolute;
    top: 60%;
    left: 35%;
}

.opt1-t , .opt2-t , .week1res , .week2res , .opt3-t , .week3res , .weekopt-t{
    position: absolute;
    content: '';
    height: 1px;
    padding: 1px;
    pointer-events: none;
}

.opt1-t{
    top: 34%;
    left: 53%;
}

.opt2-t{
    top: 34%;
    left: 23%;
}

.opt3-t{
    top: 59%;
    left: 38%;
}

.week1res{
    top: 43%;
    left: 53%;
}

.week2res{
    top: 43%;
    left: 23%;
}

.week3res{
    top: 68%;
    left: 37%;
}

.weekopt{
    content: url("../images/million.png");
    position: absolute;
    top: 2%;
}
.weekopt-t{
    position: absolute;
    top: 0.5%;
    left: 5%;
}

.opt1:hover , .opt2:hover , .weekopt:hover , .flash:hover{ 
    cursor: pointer;
    content: url("../images/million\ -\ hover.png");
}

.opt3:hover{
    cursor: pointer;
    content: url("../images/million\ monster\ hover.png");
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup{
    display: block;
    width: 400px;
    background: rgb(34, 33, 33);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
}

.pimg{
    width: 300px;
    margin-top: -150px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    

@media only screen and (max-device-width: 480px) {
    .logo{
        float: left;
    }
    .opt1 , .opt2 , .opt3{
        width: 40vh;
        left: 10%;
    }

    h1{
        font-size: 100%;
    }
    .opt1{
        top: 35%;
    }

    .opt1-t{
        top: 35%;
        left: 27%;
        font-size: 150%;
    }
    
    .opt2{
        top: 55%;
    
    }

    .opt2-t{
        top: 55%;
        left: 27%;
        font-size: 150%;
    }

    .opt3{
        top:75%;
    }

    .opt3-t{
        top: 75%;
        left: 27%;
        font-size: 150%;
    }

    .week1res{
        top: 28%;
        left: 40%;
        font-size: 100%;
    }
    
    .week2res{
        top: 48%;
        left: 40%;
        font-size: 100%;
    }

    .week3res{
        top: 68%;
        left: 40%;
        font-size: 100%;
    }

    .weekopt{
        width: 60%;
        top: 15%;
        left: 25%;
    }

    .weekopt-t{
        top: 14%;
        left: 36%;
        font-size: 150%;
    }

    .flash{
        width: 60%;
        left: 25%;
    }

    .flash-t{
        top: 84%;
        left: 36%;
        font-size: 150%;
    }
    

}